@{
    ViewBag.Title = "About";
}

@{
    ViewBag.Title = "About";
}

<div class="row">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">PageCount</th>
                <th scope="col">Excerpt</th>
                <th scope="col">PublishDate</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>Jdo</td>
                <td>Mark</td>
                <td>Mark</td>
                <td>
                    <button type="button" class="btn btn-success">Success</button>
                    <button type="button" class="btn btn-danger">Danger</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
